<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <div id="weatherLogo">
      <a class="navbar-brand" href="#">Weather</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" id="userAccount">
          <a class="nav-link active" aria-current="page" href="#"
            >User accounts</a
          >
        </li>
        <li class="nav-item" id="firstInactive">
          <a class="nav-link" href="#">Inactive</a>
        </li>
        <li class="nav-item" id="secondInactive">
          <a class="nav-link" href="#">Inactive</a>
        </li>
        <li class="nav-item" id="thirdInactive">
          <a class="nav-link">Inactive</a>
        </li>
        <li class="nav-item" id="fourthInactive">
          <a class="nav-link">Inactive</a>
        </li>
      </ul>
    </div>
    <div id="dropdownMenu">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>
