<ngb-carousel>
  <ng-template ngbSlide>
    <div class="oneDayColumn">
      <div
        class="oneDayRow"
        *ngFor="let day of days.slice(0, 3); let i = index"
      >
        <div class="day">
          {{ day }}
        </div>
        <div>
          <img [src]="forecastToShowPaths[i]" class="subdayPic" />
        </div>
        <div class="temperature">
          {{ forecastToShow[i].data.instant.details.air_temperature
          }}{{ weatherDataFromService.degreeMetric }}
        </div>
        <div class="windSpeed">
          {{ forecastToShow[i].data.instant.details.wind_speed
          }}{{ weatherDataFromService.windMetric }}
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="oneDayColumn">
      <div class="oneDayRow" *ngFor="let day of days.slice(3); let i = index">
        <div class="day">
          {{ day }}
        </div>
        <div>
          <img [src]="forecastToShowPaths[i + 3]" class="subdayPic" />
        </div>
        <div class="temperature">
          {{ forecastToShow[i + 3].data.instant.details.air_temperature
          }}{{ weatherDataFromService.degreeMetric }}
        </div>
        <div class="windSpeed">
          {{ forecastToShow[i + 3].data.instant.details.wind_speed
          }}{{ weatherDataFromService.windMetric }}
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
