<app-navbar></app-navbar>
<div class="phone">
  <ngb-carousel>
    <ng-template ngbSlide>
      <app-userspaceitem></app-userspaceitem>
    </ng-template>
    <ng-template ngbSlide>
      <app-subday></app-subday>
    </ng-template>
  </ngb-carousel>
</div>
<div class="tablet">
  <app-userspaceitem></app-userspaceitem>
  <div id="hr"><hr /></div>
  <app-subdaycarousel></app-subdaycarousel>
</div>
<div class="desktop">
  <app-userspaceitem></app-userspaceitem>
  <div id="hr"><hr /></div>
  <app-subday></app-subday>
</div>
